* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: darkcyan;
}

header {
    margin: 20px;

   
    font-size: 5em;
    font-weight: 500;
    
    border: solid 1px black;
    border-radius: 1em;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 760px;
    cursor: pointer;
}

header p {
    padding: 10px;
    cursor: pointer;
    
}

.small-text {
    font-size: 0.2em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;
    background-color: white;
    border: solid 1px darkgray;
    border-radius: 1em;

    height: 500px; 
    width: 760px; 

}

main section {
    padding: 20px;

}

section span {
    padding: 20px;
}

img {
    height: 120px;
    margin: 20px;
    color: darkcyan;
    border: solid 3px darkcyan;
    border-radius: 1em;
    padding: 5px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + img {
    border: solid 1px red;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-section {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.message-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    font-weight: 700;
    font-size: 1.9em;

    padding: 20px;
}

p span {
    text-align: center;
    padding: 10px 0px 
}

.hidden {
    display: none;
}

div {
    display: flex;
    flex-direction: row;
}
