* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {

}

section {

}

header {
    padding: 50px;
}

img {
    max-width: 100px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + img {
    border: solid 1px red;
} 
